name: Publish To Maven Central

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Add permissons
        run: chmod +x gradlew

      - name: Publish to central
        run: ./gradlew clean sonatypeCentralUpload -xtest
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          CENTRAL_PRIVATE_KEY: ${{ secrets.CENTRAL_PRIVATE_KEY }}
          CENTRAL_PRIVATE_KEY_PWD: ${{ secrets.CENTRAL_PRIVATE_KEY_PWD }}
          CENTRAL_PUBLIC_KEY: ${{ secrets.CENTRAL_PUBLIC_KEY }}